img{
    object-fit: contain;
    width: 70%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: blanchedalmond;
}

@media(max-width:617px) {
    img{
        position: absolute;
        margin: auto;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    body{
        align-items: center;
        justify-content: center;
    }
}